
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1e1e2e;
    background-alt: #181825;
    foreground:     #cdd6f4;
    selected:       #cba6f7;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
